// This App is Deployed. See Live Site at:
// https://image-spacestagram.netlify.app

// theme colours
$background: black;
$block: lightgrey;
$button: #49686e;
$buttonHover: #a14741;
$shadow: #374142;

body {
    background-image: url("../public/assets/stars.jpg");
}

.app {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;

    .form {
        text-align: center;
        margin: auto;
        width: fit-content;
        font-weight: bold;
        margin-top: 2vh;
        padding-bottom: 1vh;

        .title {
            text-transform: uppercase;
            text-align: center;
            font-size: 3vw;

            margin: auto;
            padding: 1vh 2vw;
        }

        label,
        .button,
        input {
            font-size: 1.5vw;
            font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
            // display: flex;
        }

        input {
            padding: 0 2vw;
            border: solid black 1px;
            margin-left: 1vw;
        }

        .button {
            margin-top: 2vh;
            padding: 0.75vh 2vw;
        }
    }

    .gram {
        column-count: 3;
        padding: 0 2vw;

        .imageHolder {
            margin-top: 3vh;
            margin-left: 0.5vw;
            margin-right: 0.5vw;
            padding: 2% 5%;
            display: inline-block;

            img {
                width: 100%;
                cursor: pointer;
            }

            .center {
                text-align: center;
                text-transform: capitalize;
            }

            .right {
                text-align: right;
            }

            h1 {
                font-size: 2vw;
            }

            h2 {
                font-size: 1.35vw;
                font-weight: normal;
            }

            h3 {
                font-size: 1.05vw;
                text-indent: 2vw;
                font-weight: normal;
            }
        }
    }
}

.block {
    background-color: $block;
    margin-bottom: 5vh;
}

.button,
.disabled {
    font-size: 1.35vw;
    width: fit-content;
    margin: auto;
    padding: 2% 5%;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 2vh;

    &:hover {
        background-color: $buttonHover;
        color: whitesmoke;
    }
}

.button {
    background-color: $button;
}

.disabled {
    background-color: darkgray;
}
