// This App is Deployed. See Live Site at:
// https://image-spacestagram.netlify.app

// theme colours
$background: black;
$block: rgb(65, 19, 65);
$deactivateBlock: rgb(99, 54, 99);
$lightColour: rgb(148, 108, 148);
$extraDarkColour: rgb(34, 22, 34);
$darkColour: rgb(92, 31, 92);
$button: #49686e;
$buttonHover: #a14741;
$shadow: #374142;

body {
    background-image: url("../public/assets/stars.jpg");
}

.app {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    color: whitesmoke;

    .innerMain,
    .inner {
        margin: auto;
        border: black solid 1px;
    }

    .innerMain {
        background-color: $lightColour;
        text-transform: uppercase;
    }

    .form {
        text-align: center;
        margin: auto;
        width: 100%;
        font-weight: bold;
        padding-bottom: 1vh;
        text-transform: uppercase;
        background: $block;

        .title {
            -webkit-text-stroke: 0.05vw $lightColour;
            text-align: center;
            font-size: 3vw;
            color: $darkColour;

            margin: auto;
            padding: 1vh 2vw;
        }

        .innerMain {
            width: fit-content;
            padding: 1%;
        }

        label {
            -webkit-text-stroke: 0.03vw black;
            color: $darkColour;
        }

        label,
        .button,
        input {
            font-size: 1.5vw;
            font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        }

        input {
            font-family: "Courier New", Courier, monospace;
            cursor: pointer;
            padding: 0 2vw;
            border: solid black 1px;
            margin-left: 1vw;
        }

        .button {
            margin-top: 2vh;
            padding: 0.75vh 2vw;
        }
    }

    .error {
        font-family: "Courier New", Courier, monospace;
        background-color: $lightColour;
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 2%;
        text-transform: uppercase;
        color: black;
        font-size: 2vw;
    }

    .gram {
        column-count: 3;
        width: 100%;

        .activate {
            background-color: $block;
        }

        .deactivate {
            background-color: $deactivateBlock;
        }

        .imageHolder {
            margin-top: 3vh;
            margin-left: 0.5vw;
            margin-right: 0.5vw;
            padding: 2% 5%;
            display: inline-block;

            .image {
                width: 100%;
                cursor: pointer;
            }

            .innerMain {
                margin: auto;
                margin-top: 3vh;
                margin-bottom: 3vh;
                text-align: center;
                padding: 2.5%;
                -webkit-text-stroke: 0.03vw black;
                color: $darkColour;

                h1 {
                    font-size: 2vw;
                }

                h2 {
                    font-size: 1.35vw;
                    font-weight: normal;
                }
            }

            .inner {
                background-color: $extraDarkColour;
                border: whitesmoke solid 0.5px;
                padding: 4%;
                margin: auto;
                margin-top: 3vh;
                margin-bottom: 1vh;
                color: whitesmoke;
                line-height: 1.7;
                font-family: "Courier New", Courier, monospace;

                h3 {
                    font-size: 1.05vw;
                    text-indent: 2vw;
                    font-weight: normal;
                }
            }

            .innerSupport {
                background-color: $lightColour;
                border: black solid 1px;
                margin: auto;
                margin-top: 3vh;
                margin-bottom: 3vh;
                padding-top: 4%;
                padding-bottom: 1%;
                text-align: center;

                img {
                    width: 2.5vw;
                    height: 2.5vw;
                    margin: 0 1vw;
                }

                .pointer {
                    cursor: pointer;
                }

                .copy {
                    cursor: copy;
                }

                .zoom-in {
                    cursor: zoom-in;
                }
            }
        }
    }
}

.button {
    font-size: 1.35vw;
    width: fit-content;
    margin: auto;
    padding: 2% 5%;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 2vh;
    background-color: $block;
    -webkit-text-stroke: 0.05vw $lightColour;
    text-transform: uppercase;
    padding: 1vh 2vw;

    &:hover {
        background-color: $extraDarkColour;
    }
}

.disabled {
    background-color: darkgray;
}
